<!DOCTYPE html>
<html>
<body>

    {% block content %}
    <h1>Hello Bincom!</h1>

    <p style="font-weight:bold; font-size: larger;">Question_1_url:    <span style="margin-left: 20px;">{{ Question_1 }}</span></p>
    <p style="font-weight:bold; font-size: larger;">Question_2_url:    <span style="margin-left: 20px;">{{ Question_2 }}</span></p>
    <p style="font-weight:bold; font-size: larger;">Question_3_url:    <span style="margin-left: 20px;">{{ Question_3 }}</span></p>
    {% endblock content %}
</body>
</html>

